import nu
<template>
  <div>
    <div style="padding: 1rem; background-color: antiquewhite">
      <v-row no-gutters>
        <v-btn to="/" class="text-none mr-2 mb-2" color="indigo-darken-3" variant="flat" style="font-size: 12px;">
          Details Plan
        </v-btn>
        <v-btn to="/maps-image-group/" class="text-none mr-2" color="indigo-darken-3" variant="flat" style="font-size: 12px;">
          Maps Image
        </v-btn>
        <v-btn to="/maps-marker/" class="text-none mr-2" color="indigo-darken-3" variant="flat" style="font-size: 12px;">
          Marker
        </v-btn>
        <v-btn to="/maps-marker-car/" class="text-none" color="indigo-darken-3" variant="flat" style="font-size: 12px;">
          Marker Car
        </v-btn>
      </v-row>
    </div>
    <slot />
  </div>
</template>
<style>
.v-application__wrap{
  min-height: 91dvh !important;
}
</style>
