<script>
import { defineComponent } from "vue";
import { GoogleMap, Marker, CustomMarker } from "vue3-google-map";

export default defineComponent({
  components: { GoogleMap, Marker, CustomMarker },
  data() {
    return {
      center: { lat: 18.8058663, lng: 99.0125918 },
      numberZoom: 9,
      itemPlan: [
        {
          id: 1,
          name: "Chiang Mai, อำเภอเมืองเชียงใหม่ เชียงใหม่ Day1",
          center: {
            lat: 18.7942459,
            lng: 98.9564772,
          },
          statusOpen: false,
        },
        {
          id: 2,
          name: "ยิ่งยงสวนดอกไม้ ยิ่งยงสวนดอกไม้, ตำบล แม่แรม อำเภอแม่ริม เชียงใหม่ ประเทศไทย",
          center: {
            lat: 18.9393705,
            lng: 98.7995164,
          },
          statusOpen: false,
        },
        {
          id: 3,
          name: "ต๋องเต็มโต๊ะ and the Hug House",
          center: {
            lat: 18.9062314,
            lng: 98.9151361,
          },
          statusOpen: false,
        },
        {
          id: 4,
          name: "ห้วยกุ๊บกั๊บ",
          center: {
            lat: 19.2416582,
            lng: 98.8317598,
          },
          statusOpen: false,
        },
      ],
    };
  },
  // setup() {
  //   const center = { lat: 18.8058663, lng: 99.0125918 };
  //   return { center };
  // },
  methods: {
    resetMaps() {
      this.center = {
        lat: 18.7942459,
        lng: 98.9564772,
      };
      this.numberZoom = 9;
      for (let i = 0; i < this.itemPlan.length; i++) {
        this.itemPlan[i].statusOpen = false;
      }
    },
    markApi(item) {
      this.numberZoom = 11;
      const index = this.itemPlan.indexOf(item);
      this.itemPlan[index].statusOpen = true;
      for (let i = 0; i < this.itemPlan.length; i++) {
        if (index !== i) {
          this.itemPlan[i].statusOpen = false;
        }
      }
      this.center = {
        lat: item.center.lat,
        lng: item.center.lng,
      };
    },
  },
});
</script>
<template>
  <div id="first-box">
    <v-row no-gutters>
      <v-col cols="12" md="6" class="custom-scrollbar" style="height: 90vh;">
        <div style="text-align: center" @mouseover="resetMaps()">
          <img src="https://imagedelivery.net/GUFM4Akk6JWzoEMVBlhEQw/4c4e9dcd-281c-4e50-cad9-077642368900/public"
            width="500px;" height="350px" />
        </div>
        <div class="pl-2" style="font-size: 18px; font-weight: bold">เที่ยวเชียงใหม่ 6วัน5คืน</div>
        <div class="pl-4 mb-1">
          Day1 ขับรถออกจาก กทม 22:00น
        </div>
        <div class="pl-4 mb-1">
          Day2 ถึงเชียงใหม่ช่วงเช้า -ยิ่งยงสวนดอกไม้ -ต๋องเต็มโต๊ะ -ห้วยกุ๊บกั้บ
          บ้านแม่นาหมี่
        </div>
        <div v-for="(item, i) in itemPlan" :key="i" style="
          padding-left: 1rem;
          margin-bottom: 5px;
          margin-right: 5px;
        " @mouseover="markApi(item)">
          <div style="display: flex">
            <div style="text-align: center">
              <div style="position: relative; bottom: -42px">
                {{ i + 1 }}
              </div>
              <img src="/assets/pin.png" width="50" height="50" style="margin-top: 8px" />
            </div>
            <div style="margin-top: 35px">
              {{ item.name }}
            </div>
          </div>
          <div v-if="i !== 3" style="margin-left: 23px" class="vertical-line"></div>
        </div>
      </v-col>
      <v-col cols="12" md="6">
        <GoogleMap api-key="AIzaSyDcrfT4Ash5KaIRR0UotCciG_j-uuNawOQ" style="width: 100%; height: 90vh;" :center="center"
          :zoom="numberZoom">
          <CustomMarker v-for="(item, i) in itemPlan" :key="i"
            :options="{ position: item.center, anchorPoint: 'BOTTOM_CENTER' }" :zIndex="1" @click="markApi(item)">
            <div v-if="item.statusOpen === true" style="
              padding: 1rem;
              border: 1px solid;
              width: 150px;
              text-align: center;
              background-color: white;
              border-radius: 10px;
              z-index: 1000;
            ">
              <div style="font-size: 1rem">{{ item.name }}</div>
            </div>
            <div style="text-align: center;">
              <div style="position: relative; bottom: -35px">
                {{ i + 1 }}
              </div>
              <img src="/assets/pin.png" width="50" height="50" style="margin-top: 8px; z-index: 0;" />
            </div>
          </CustomMarker>
          <!-- <Marker
          v-for="(item, i) in itemPlan"
          :key="i"
          :options="{ position: item.center }"
        /> -->
        </GoogleMap>
      </v-col>
    </v-row>
  </div>
</template>

<style lang="scss">
#first-box {
  .vertical-line {
    width: 2px;
    /* ความกว้างของเส้นตรง */
    height: 50px;
    /* ความสูงของเส้นตรง */
    background-color: #333;
    /* สีของเส้นตรง */
    position: relative;
    bottom: -10px;
  }

  .custom-scrollbar {
    /* Set the maximum height for the div to enable scrolling */
    /* max-height: 300px; */
    /* Add any other styles to your div */
    overflow-y: auto;
    /* Enable vertical scrollbar */
    scrollbar-width: thin;
    /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Set the color of the scrollbar track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the scrollbar thumb */
  }
}
</style>
