<template>
  <div id="tree-box">
    <v-row no-gutters>
      <v-col cols="12" xl="6" lg="6" md="6" class="pa-3 custom-scrollbar" style="height: 90vh">
        <v-timeline side="end">
          <v-timeline-item ref="markerRef" v-for="(item, i) in itemPlan" :key="i" @mouseover="markApi(item)">
            <template v-slot:icon>
              <v-avatar :image="item.img"></v-avatar>
              <span v-if="i != 3" style="
                  position: absolute;
                  bottom: -22px;
                  background: white;
                  font-size: 11px;
                  width: 90px;
                  text-align: center;
                ">
                <div>
                  ≈ {{ item.time }}
                </div>
                <div>
                  ( {{ item.distance }} )
                </div>
              </span>
            </template>
            <template v-slot:opposite>
              <span v-if="i == 0">วันที่ 1</span>
            </template>
            <v-card class="elevation-2">
              <v-card-text> {{ item.name }}</v-card-text>
            </v-card>
          </v-timeline-item>
          <!-- <v-timeline-item  dot-color="#ffffff">
            <template v-slot:icon>
              <div>
                asdasdasd
              </div>
            </template>
          </v-timeline-item> -->
        </v-timeline>
      </v-col>
      <v-col cols="12" xl="6" lg="6" md="6" class="pa-3">
        <div id="map"></div>
        <div id="toggleButton">Direction</div>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import { MarkerClusterer } from '@googlemaps/markerclusterer';
import { defineComponent } from 'vue';

export default defineComponent({
  data() {
    ((g) => {
      var h,
        a,
        k,
        p = 'The Google Maps JavaScript API',
        c = 'google',
        l = 'importLibrary',
        q = '__ib__',
        m = document,
        b = window;
      b = b[c] || (b[c] = {});
      var d = b.maps || (b.maps = {}),
        r = new Set(),
        e = new URLSearchParams(),
        u = () =>
          h ||
          (h = new Promise(async (f, n) => {
            await (a = m.createElement('script'));
            e.set('libraries', [...r] + '');
            for (k in g)
              e.set(
                k.replace(/[A-Z]/g, (t) => '_' + t[0].toLowerCase()),
                g[k]
              );
            e.set('callback', c + '.maps.' + q);
            a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
            d[q] = f;
            a.onerror = () => (h = n(Error(p + ' could not load.')));
            a.nonce = m.querySelector('script[nonce]')?.nonce || '';
            m.head.append(a);
          }));
      d[l]
        ? console.warn(p + ' only loads once. Ignoring:', g)
        : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
    })({ key: 'AIzaSyDcrfT4Ash5KaIRR0UotCciG_j-uuNawOQ', v: 'weekly' });
    return {
      center: { lat: 18.8058663, lng: 99.0125918 },
      numberZoom: 10,
      map: null,
      marker: null,
      infoWindow: null,
      itemPlan: [
        {
          id: 1,
          name: '',
          center: {
            lat: 18.7942459,
            lng: 98.9564772,
          },
          statusOpen: false,
          img: 'https://img.wongnai.com/p/256x256/2023/05/13/eab4588c1ca648faa8a5788fcd8c6b6d.jpg',
          time: '',
          distance: '',
        },
        {
          id: 2,
          name: '',
          center: {
            lat: 18.9393705,
            lng: 98.7995164,
          },
          statusOpen: false,
          img: 'https://img.wongnai.com/p/256x256/2021/09/09/5ceb46b2f0454e43b30fd07ab1fce67b.jpg',
          time: '',
          distance: '',
        },
        {
          id: 3,
          name: '',
          center: {
            lat: 18.9062314,
            lng: 98.9151361,
          },
          statusOpen: false,
          img: 'https://img.wongnai.com/p/256x256/2018/12/16/5f6f34108b3649819b34908c9b82f299.jpg',
          time: '',
          distance: '',
        },
        {
          id: 4,
          name: '',
          center: {
            lat: 19.2416582,
            lng: 98.8317598,
          },
          statusOpen: false,
          img: 'https://img.wongnai.com/p/256x256/2022/11/17/ad05227347474e098e7f6390d410c1af.jpg',
          time: '',
          distance: '',
        },
      ],
    };
  },
  mounted() {
    // this.infoWindow = new google.maps.InfoWindow();
    this.initMap();
  },
  methods: {
    markApi(item) {
      // console.log(item)
      // this.numberZoom = 9;
      // this.center = {
      //   lat: item.center.lat,
      //   lng: item.center.lng,
      // };
      const index = this.itemPlan.indexOf(item);
      var newLatLng = new google.maps.LatLng(item.center.lat, item.center.lng);
      var newZoom = 9;
      // ใช้ setCenter เพื่อเปลี่ยนตำแหน่งแผนที่
      // this.map.setCenter(newLatLng);
      this.map.panTo(newLatLng);
      this.map.setZoom(newZoom);

      this.infoWindow.setContent(item.name);
      this.infoWindow.open(this.map, this.marker[index]);

      // this.initMap()
    },
    async initMap() {
      // Request needed libraries.
      const { Map, InfoWindow } = await google.maps.importLibrary('maps');
      const { AdvancedMarkerElement, PinElement } =
        await google.maps.importLibrary('marker');
      this.map = new google.maps.Map(document.getElementById('map'), {
        center: this.center,
        zoom: this.numberZoom,
        minZoom: this.numberZoom,
        streetViewControl: false,
        rotateControl: true,
        disableDefaultUI: false, // ปิดการใช้งาน UI ทั้งหมด
        fullscreenControlOptions: {
          position: google.maps.ControlPosition.TOP_RIGHT,
        },
        mapTypeControl: true, // เปิดการใช้งาน Control ประเภทแผนที่
        mapTypeControlOptions: {
          style: google.maps.MapTypeControlStyle.DEFAULT,
          position: google.maps.ControlPosition.INLINE_END_BLOCK_END,
          mapTypeIds: ['HYBRID'], // เลือกประเภทแผนที่ที่ต้องการแสดง
        },
        streetViewControlOptions: {
          position: google.maps.ControlPosition.INLINE_END_BLOCK_END,
        },
        mapId: 'DEMO_MAP_ID',
      });
      this.infoWindow = new google.maps.InfoWindow({
        content: '',
        disableAutoPan: true,
      });
      const vm = this;
      const map = vm.map;
      const clickableIcons = map.getClickableIcons();

      // แสดงค่าใน console
      console.log('Clickable Icons:', clickableIcons);

      // google.maps.event.addListener(map, "zoom_changed", function () {
      //   console.log(map.getZoom())
      //   if (map.getZoom() < 4) {
      //     map.setZoom(4);
      //   }
      // });

      // สร้าง Geocoder
      const geocoder = new google.maps.Geocoder();

      // Loop ผ่าน Array และใช้ Geocoder เพื่อดึงข้อมูลตำแหน่ง (ชื่อสถานที่) สำหรับทุกตำแหน่ง
      vm.itemPlan.forEach(function (location, index) {
        const latLng = new google.maps.LatLng(
          location.center.lat,
          location.center.lng
        );
        const numberPlan = index + 1;

        geocoder.geocode({ location: latLng }, function (results, status) {
          if (status === 'OK') {
            if (results[0]) {
              // ดึงชื่อตำแหน่ง (ชื่อสถานที่)
              const locationName = results[0].formatted_address;

              // ใช้ข้อมูลตามที่ต้องการ
              // console.log(`ตำแหน่ง ${index + 1}: `, location);
              // console.log("ชื่อตำแหน่ง: ", locationName);
              vm.itemPlan[index].name =
                'สถานที่: ' + numberPlan + ' ' + locationName;
            } else {
              console.error(`ไม่พบข้อมูลสถานที่สำหรับตำแหน่งที่ ${index + 1}`);
            }
          } else {
            console.error(
              `Geocoder failed for location ${index + 1} due to: ${status}`
            );
          }
        });
      });

      const directionsService = new google.maps.DirectionsService();
      // const directionsRenderer = new google.maps.DirectionsRenderer();
      // directionsRenderer.setMap(map);

      // Loop ผ่าน Array และสร้าง Directions Request สำหรับแต่ละตำแหน่ง
      for (let i = 0; i < this.itemPlan.length - 1; i++) {
        const originLatLng = new google.maps.LatLng(
          this.itemPlan[i].center.lat,
          this.itemPlan[i].center.lng
        );
        const destinationLatLng = new google.maps.LatLng(
          this.itemPlan[i + 1].center.lat,
          this.itemPlan[i + 1].center.lng
        );

        const request = {
          origin: originLatLng,
          destination: destinationLatLng,
          travelMode: 'DRIVING',
        };

        // const vm = this;

        // ใช้ DirectionsService เพื่อดึงข้อมูลเส้นทาง
        directionsService.route(request, function (result, status) {
          if (status === 'OK') {
            // แสดงเส้นทางบนแผนที่
            // directionsRenderer.setDirections(result);

            // ดึงข้อมูลชื่อตำแหน่ง, ระยะทาง, และเวลา
            const route = result.routes[0];
            const leg = route.legs[0];
            // const startlocationName = leg.start_address;
            const endlocationName = leg.end_address;
            const distance = leg.distance.text;
            const duration = leg.duration.text;

            // ใช้ข้อมูลตามที่ต้องการ
            // vm.itemPlan[i].name =
            //   "ชื่อตำแหน่ง: " +
            //   startlocationName +
            //   "ระยะทาง: " +
            //   distance +
            //   "เวลา: " +
            //   duration;
            // console.log(vm.itemPlan[i].name);
            // console.log("ชื่อตำแหน่งเริ่ม: ", startlocationName);
            // console.log("ชื่อตำแหน่งเริ่ม: ", vm.itemPlan[i].name);
            // console.log("ชื่อตำแหน่งสิ้นสุด: ", endlocationName);
            console.log("ระยะทาง: ", distance);
            vm.itemPlan[i].time = duration;
            vm.itemPlan[i].distance = distance
            // console.log("เวลา: ", duration);
          } else {
            console.error('Directions request failed due to ' + status);
          }
        });
      }

      const labels = '';
      // const marker = vm.marker;
      const markers = this.itemPlan.map((position, i) => {
        // const label = labels[i % labels.length];

        const number = i + 1;

        // สร้าง Element สำหรับ Label
        // const labelElement = document.createElement("div");
        // labelElement.className = "marker-label";
        // labelElement.innerText = "สถานที่: " + number;

        // const pinGlyph = new google.maps.marker.PinElement({
        //   glyph: label,
        //   glyphColor: "white",
        // });

        // const beachFlagImg = document.createElement("img");
        // beachFlagImg.src = position.img;
        // beachFlagImg.setAttribute("height", "50px");
        // beachFlagImg.setAttribute("width", "50px");
        // beachFlagImg.classList.add("marker-img");

        // // สร้าง div ใหม่มารวมกัน
        // const contentContainer = document.createElement("div");
        // contentContainer.appendChild(beachFlagImg);
        // contentContainer.appendChild(labelElement);

        // const marker = new google.maps.marker.AdvancedMarkerElement({
        //   position: position.center,
        //   content: contentContainer,
        // });

        const marker = new google.maps.Marker({
          position: position.center,
          map: this.map, // Assuming you have a global map variable
          // label: {
          //   text: String(number),
          //   color: "white",
          //   labelOrigin: new google.maps.Point(25, 0),
          // },
          icon: {
            url: 'https://cdn4.iconfinder.com/data/icons/small-n-flat/24/map-marker-512.png',
            scaledSize: new google.maps.Size(50, 50),
            anchor: new google.maps.Point(25, 50),
          },
        });

        if (i === 0) {
          // Show infoWindow for the marker with index 0

          this.infoWindow.setContent(
            'เลขที่ 239, อาคารคณะบริหารธุรกิจ ชั้น 1 มหาวิทยาลัยเชียงใหม่, ถนนห้วยแก้ว, ตำบลสุเทพ อำเภอเมือง จังหวัดเชียงใหม่, 50200 Tambon Su Thep, Amphoe Mueang Chiang Mai, Chang Wat Chiang Mai 50200, Thailand'
          );
          this.infoWindow.open(this.map, marker);
        }

        marker.addListener('mouseover', () => {
          this.infoWindow.setContent(position.name);
          this.infoWindow.open(this.map, marker);
          // this.markApi(position, i);
        });

        marker.addListener('mouseout', () => {
          this.infoWindow.close();
        });

        marker.addListener('click', () => {
          this.infoWindow.setContent(position.name);
          this.infoWindow.open(this.map, marker);
        });

        return marker;
      });

      this.marker = markers;

      // const polylines = [];
      let isPolylineVisible = true;

      const allCoordinates = [
        new google.maps.LatLng(18.7942459, 98.9564772),
        new google.maps.LatLng(18.9393705, 98.7995164),
        new google.maps.LatLng(18.9062314, 98.9151361),
        new google.maps.LatLng(19.2416582, 98.8317598),
      ];

      // var iconsetngs = {
      //   path:
      //     'M25.395,0H17.636c-3.117,0-5.643,3.467-5.643,6.584v34.804c0,3.116,2.526,5.644,5.643,5.644h11.759' +
      //     'c3.116,0,5.644-2.527,5.644-5.644V6.584C35.037,3.467,32.511,0,29.395,0z M34.05,14.188v11.665l-2.729,0.351v-4.806L34.05,14.188z' +
      //     'M32.618,10.773c-1.016,3.9-2.219,8.51-2.219,8.51H16.631l-2.222-8.51C14.41,10.773,23.293,7.755,32.618,10.773z M15.741,21.713' +
      //     'v4.492l-2.73-0.349V14.502L15.741,21.713z M13.011,37.938V27.579l2.73,0.343v8.196L13.011,37.938z M14.568,40.882l2.218-3.336' +
      //     'h13.771l2.219,3.336H14.568z M31.321,35.805v-7.872l2.729-0.355v10.048L31.321,35.805z',
      //   fillColor: 'blue',
      //   fillOpacity: 1,
      //   scale: 0.4,
      //   strokeColor: 'gray',
      //   strokeWeight: 0.4,
      //   offset: '50%',
      // };

      const polyline = new google.maps.Polyline({
        path: allCoordinates,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2,
        geodesic: true,
        // icons: [
        //   {
        //     icon: iconsetngs,
        //     // offset: '100%',
        //     repeat: '50px',
        //   },
        // ],
        icons: [
          {
            icon: { path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW },
            offset: '100%',
            repeat: '20px',
          },
        ],
      });
      polyline.setMap(map);
      animateCircle(polyline);
      function animateCircle(polyline) {
        let count = 0;

        window.setInterval(() => {
          count = (count + 1) % 200;

          const icons = polyline.get('icons');

          icons[0].offset = count / 2 + '%';
          polyline.set('icons', icons);
        }, 800);
      }
      // allCoordinates.forEach((coordinate, index) => {
      //   const marker = new google.maps.Marker({
      //     position: coordinate,
      //     map: map,
      //     icon: {
      //       url: 'https://cdn-icons-png.flaticon.com/256/22/22722.png', // Replace with the URL of your custom icon
      //       scaledSize: new google.maps.Size(30, 30), // Adjust the size of the custom icon
      //     },
      //     label: {
      //       text: (index + 1).toString(),
      //       color: 'white',
      //     },
      //   });
      // });
      // polylines.push(polyline);

      // const locations = [
      //   { lat: 18.7942459, lng: 98.9564772 },
      //   { lat: 18.9393705, lng: 98.7995164 },
      //   { lat: 18.9062314, lng: 98.9151361 },
      //   { lat: 19.2416582, lng: 98.8317598 },
      //   // เพิ่มตำแหน่งเพิ่มเติมตามต้องการ
      // ];
      // // สร้าง Polyline
      // const path = new google.maps.Polyline({
      //   path: locations,
      //   geodesic: true,
      //   strokeColor: "#FF0000", // สีของ Polyline
      //   strokeOpacity: 1.0,
      //   strokeWeight: 2,
      // });

      // // แสดง Polyline บนแผนที่
      // path.setMap(map);

      // // สร้างลูกศรแต่ละจุด
      // locations.forEach((location, index) => {
      //   const marker = new google.maps.Marker({
      //     position: location,
      //     map: map,
      //     icon: {
      //       path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
      //       scale: 4, // ขนาดของลูกศร
      //       strokeColor: "#FF0000",
      //       fillColor: "#FF0000",
      //       fillOpacity: 1,
      //     },
      //     title: `Point ${index + 1}`,
      //   });

      //   // ถ้าไม่ใช่ตำแหน่งสุดท้าย
      //   if (index < locations.length - 1) {
      //     // สร้างเส้นประไปยังตำแหน่งถัดไป
      //     const lineToNextPoint = new google.maps.Polyline({
      //       path: [location, locations[index + 1]],
      //       geodesic: true,
      //       strokeColor: "#0000FF", // สีของเส้นประ
      //       strokeOpacity: 1.0,
      //       strokeWeight: 2,
      //     });

      //     // แสดงเส้นประบนแผนที่
      //     lineToNextPoint.setMap(map);
      //   }
      // });

      // google.maps.event.addListener(map, "click", function (event) {
      //   const lat = event.latLng.lat();
      //   const lng = event.latLng.lng();

      //   // สร้างตำแหน่ง (LatLng) จาก lat และ lng
      //   const clickLatLng = new google.maps.LatLng(lat, lng);

      //   // สร้าง request สำหรับ DirectionsService
      //   const request = {
      //     origin: clickLatLng,
      //     destination: "ซิดนีย์", // ตำแหน่งปลายทาง (ใส่ตำแหน่งที่คุณต้องการ)
      //     travelMode: "DRIVING", // หรือใช้ "WALKING" หรือ "TRANSIT" ตามที่ต้องการ
      //   };

      //   // ใช้ DirectionsService เพื่อดึงข้อมูลเส้นทาง
      //   directionsService.route(request, function (result, status) {
      //     if (status == "OK") {
      //       // แสดงเส้นทางบนแผนที่
      //       directionsRenderer.setDirections(result);

      //       // ดึงข้อมูลชื่อตำแหน่ง, ระยะทาง, และเวลา
      //       const route = result.routes[0];
      //       const leg = route.legs[0];
      //       const locationName = leg.end_address;
      //       const distance = leg.distance.text;
      //       const duration = leg.duration.text;

      //       // ใช้ข้อมูลตามที่ต้องการ
      //       console.log("lat: ", lat);
      //       console.log("lng: ", lng);
      //       console.log("ชื่อตำแหน่ง: ", locationName);
      //       console.log("ระยะทาง: ", distance);
      //       console.log("เวลา: ", duration);
      //     } else {
      //       console.error("Directions request failed due to " + status);
      //     }
      //   });
      // });

      function findClosestLocation(targetLocation, locations) {
        return locations.reduce(function (prev, curr) {
          const prevDistance = getDistance(targetLocation, prev);
          const currDistance = getDistance(targetLocation, curr);

          return currDistance < prevDistance ? curr : prev;
        });
      }

      function getDistance(location1, location2) {
        // console.log(location1)
        // console.log(location2.center)
        const latDiff = location1.lat - location2.center.lat;
        const lngDiff = location1.lng - location2.center.lng;
        return Math.sqrt(latDiff * latDiff + lngDiff * lngDiff);
      }

      function calculateAndDisplayRoute(item) {
        // var waypoints = locations

        // console.log(item[0].center);

        const waypointsTest = [];

        for (let i = 0; i < item.length; i++) {
          waypointsTest.push({
            location: new google.maps.LatLng(
              item[i].center.lat,
              item[i].center.lng
            ),
          });
        }

        setTimeout(() => {
          let markers = [];
          let markersVisible = true;
          const request = {
            origin: waypointsTest[0].location,
            destination: waypointsTest[waypointsTest.length - 1].location,
            waypoints: waypointsTest.slice(1, waypointsTest.length - 1), // ตำแหน่งตั้งแต่ตัวที่ 2 ถึงตัวก่อนตัวสุดท้าย
            travelMode: 'DRIVING',
          };

          directionsService.route(request, function (response, status) {
            if (status === 'OK') {
              // const route = response.routes[0];
              // const route = response.routes[0];
              // const path = new google.maps.Polyline({
              //   path: route.overview_path,
              //   geodesic: true,
              //   strokeColor: "#3535ff",
              //   strokeOpacity: 1.0,
              //   strokeWeight: 4,
              //   icons: [{
              //     icon: {
              //       path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW, // ใช้ FORWARD_CLOSED_ARROW สำหรับลูกศร
              //       scale: 4,
              //       strokeColor: '#FF0000',
              //       strokeWeight: 2,
              //     },
              //     offset: '100%', // ปรับ offset เพื่อให้ลูกศรอยูที่จุดสุดท้ายของเส้นทาง
              //   }],
              // });
              // path.setMap(map);
              // // แสดง Marker ที่แต่ละจุดบน Polyline
              // route.overview_path.forEach((point, index) => {
              //   if ((index + 1) % 5 === 0) {
              //     const marker = new google.maps.Marker({
              //       position: point,
              //       map: map,
              //       icon: {
              //         path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
              //         scale: 3, // ขนาดของลูกศร
              //         fillColor: "#FF0000", // สีของลูกศร
              //         fillOpacity: 1,
              //         strokeColor: "white", // สีของเส้นขอบลูกศร
              //         strokeWeight: 1,
              //         rotation: calculateArrowRotation(route.overview_path, index), // คำนวณการหมุนของลูกศร
              //       },
              //       title: "Route Point",
              //       visible: markersVisible,
              //     });
              //     markers.push(marker);
              //     // ฟังก์ชันคำนวณการหมุนของลูกศร
              //     function calculateArrowRotation(path, index) {
              //       if (index < path.length - 1) {
              //         const heading = google.maps.geometry.spherical.computeHeading(path[index], path[index + 1]);
              //         return heading;
              //       } else {
              //         // Return a default rotation (0 degrees) if index is out of bounds
              //         return 0;
              //       }
              //     }
              //     function moveMarker() {
              //       // สุ่มตำแหน่งใหม่
              //       const newPosition = new google.maps.LatLng(
              //         point.lat() + (Math.random() - 0.5) / 10,
              //         point.lng() + (Math.random() - 0.5) / 10
              //       );
              //       // ให้ Marker ขยับไปยังตำแหน่งใหม่
              //       marker.setPosition(newPosition);
              //     }
              //     // setInterval(moveMarker, 2000);
              //   }
              // });
            } else {
              window.alert('ไม่สามารถคำนวณเส้นทางได้ เนื่องจาก: ' + status);
            }
          });
          // Add event listener to toggle button
          const toggleButton = document.getElementById('toggleButton');
          toggleButton.addEventListener('click', toggleMarkersVisibility);

          function toggleMarkersVisibility() {
            if (isPolylineVisible) {
              polyline.setMap(null); // Hide polyline
            } else {
              polyline.setMap(map); // Show polyline
            }
            isPolylineVisible = !isPolylineVisible;
            // markersVisible = !markersVisible;

            // markers.forEach((marker) => {
            //   marker.setVisible(markersVisible);
            // });
          }
        }, 1000);
      }

      calculateAndDisplayRoute(this.itemPlan);

      // const locatio = this.itemPlan;

      // const renderer = {
      //   render({ count, position }, stats, map) {
      //     const lat = position.lat();
      //     const lng = position.lng();
      //     // const targetLocation = { lat: 37.7749, lng: -122.4194 };
      //     // console.log("Latitude:", lat, "Longitude:", lng);
      //     const targetLocation = { lat: lat, lng: lng };
      //     const closestLocation = findClosestLocation(targetLocation, locatio);
      //     // console.log("ตำแหน่งที่ใกล้เคียงที่สุด:", closestLocation);

      //     return new google.maps.Marker({
      //       label: {
      //         text: String(count),
      //         color: "white",
      //         fontSize: "20px",
      //         // ปรับ labelOrigin เพื่อให้ label อยู่ที่มุมบนขวาของ icon
      //         labelOrigin: new google.maps.Point(20, -30),
      //       },
      //       // label: { text: String(count), color: "white", fontSize: "20px" },
      //       position,
      //       icon: {
      //         url: closestLocation.img,
      //         scaledSize: new google.maps.Size(50, 50),
      //       },
      //       // adjust zIndex to be above other markers
      //       zIndex: Number(google.maps.Marker.MAX_ZINDEX) + count,
      //       anchor: new google.maps.Point(0, 50),
      //     });
      //   },
      // };

      // // Add a marker clusterer to manage the markers.
      // new MarkerClusterer({ markers, map, renderer });
    },
  },
});
</script>

<style lang="scss">
#tree-box {
  #map {
    width: 100%;
    height: 84vh;
  }

  #toggleButton {
    position: relative;
    top: -94.5%;
    left: 83%;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    width: 80px;
  }

  @media only screen and (max-width: 768px) {
    #toggleButton {
      top: -94%;
      left: auto;
      right: 60px;
      margin-top: 10px;
      /* ปรับ top ใหม่ */
      margin-left: auto;
      /* ให้ left อยู่ตรงกลาง */
    }
  }

  // .marker-label {
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   text-align: center;
  //   transform: translate(-50%, -50%);
  //   color: black;
  //   font-size: 10px;
  //   font-weight: bold;
  //   pointer-events: none;
  //   background-color: #f1f1f1;
  //   width: 50px;
  //   border: 2px solid #ffffff;
  // }

  .marker-img {
    border: 2px solid #ffffff;
    /* เพิ่ม border ใน img */
  }

  .vertical-line {
    width: 2px;
    /* ความกว้างของเส้นตรง */
    height: 50px;
    /* ความสูงของเส้นตรง */
    background-color: #333;
    /* สีของเส้นตรง */
    position: relative;
    bottom: -10px;
  }

  .custom-scrollbar {
    /* Set the maximum height for the div to enable scrolling */
    /* max-height: 300px; */
    /* Add any other styles to your div */
    overflow-y: auto;
    /* Enable vertical scrollbar */
    scrollbar-width: thin;
    /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Set the color of the scrollbar track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the scrollbar thumb */
  }

  .v-timeline .v-timeline-divider__dot {
    background: none !important;
  }
}
</style>
